.transaction {
  width: 500px;
  border: 1px solid rgba(105, 91, 91, 0.452);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  border: 1px solid rgba(105, 91, 91, 0.452);
  background-color: rgba(105, 91, 91, 0.452);

  color: #fff;
  font-weight: 600;
  font-size: 24px;
}
.content {
  border: 1px solid rgba(105, 91, 91, 0.452);
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  background-color: rgba(134, 122, 122, 0.308);
}
